<li>
    <a href="">
        <i class="zmdi zmdi-swap-alt"></i>
        <span>Prueba Importador</span>
    </a>
</li>
<li>
    <a href="{{ request.route_path('buscar') }}">
        <i class="zmdi zmdi-search-replace"></i>
        <span>Buscar Vehículos</span>
    </a>
</li>