<li>
    <a href="">
        <i class="zmdi zmdi-swap-alt"></i>
        <span>Prueba Vendedor</span>
    </a>
</li>
<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-view-list"></i>
        <span>Vendedor</span>
    </a>
    <ul>
        <li><a href="{{ request.route_path('vehiculosAsignados') }}">Vehículos Asignados</a></li>
        <li><a href="{{ request.route_path('vehiculosVendidos') }}">Vehículos Vendidos</a></li>
    </ul>
</li>