<li>
    <a href="">
        <i class="zmdi zmdi-swap-alt"></i>
        <span>Prueba Bodeguero</span>
    </a>
</li>
<li>
    <a href="{{ request.route_path('list_importadores') }}">
        <i class="zmdi zmdi-image"></i>
        <span>Subir Fotos</span>
    </a>
</li>