
<li>
    <a href="{{ request.route_path('buscar') }}">
        <i class="zmdi zmdi-search-replace"></i>
        <span>Mis Vehículos</span>
    </a>
</li>

<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-view-list"></i>
        <span>Alertas</span>
    </a>
    <ul>
       <li><a href="{{ request.route_path('alerta_multa') }}">Antiguedad</a></li>
        <li><a href="{{ request.route_path('alerta_multa_cantidad_vehiculos') }}">Cantidad</a></li>
    </ul>
</li>