<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-archive"></i>
        <span>Registrar entradas</span>
    </a>
    <ul>
        <li><a href="{{request.route_path('bodegas') }}">Nuevo vehiculo</a></li>
        <li><a href="{{request.route_path('registro_control_entrada_reparacion') }}">Reparacion</a></li>
    </ul>
</li>
<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-upload"></i>
        <span>Registrar salidas</span>
    </a>
    <ul>
        <li><a href="{{ request.route_path('bodegas') }}">Venta</a></li>
        <li><a href="{{ request.route_path('verificar_remolque') }}">Reparacion</a></li>
    </ul>
</li>
<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-assignment-check"></i>
        <span>Aprobar entradas</span>
    </a>
    <ul>
        <li><a href="{{ request.route_path('registro_control_entrada') }}">Primera entrada</a></li>
        <li><a href="{{ request.route_path('registro_control_entrada') }}">Reparacion</a></li>
    </ul>
</li>
<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-check-circle-u"></i>
        <span>Aprobar salidas</span>
    </a>
    <ul>
        <li><a href="{{ request.route_path('aprobar_salidas') }}">venta/reparacion</a></li>
    </ul>
</li>
<li class="sm-sub">
    <a href="">
        <i class="zmdi zmdi zmdi-view-list"></i>
        <span>Mantenimientos</span>
    </a>
    <ul>
        <li><a href="{{ request.route_path('empleado_list') }}">Empleados</a></li>
        <li><a href="{{ request.route_path('remolque_list') }}">Remolques</a></li>
        <li><a href="{{ request.route_path('clienteLista') }}">Clientes</a></li>
        <li><a href="{{ request.route_path('marcaLista') }}">Marcas</a></li>
        <li><a href="{{ request.route_path('modeloLista') }}">Modelos</a></li>
    </ul>
</li>