{% extends "../layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.override.min.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div class="container">

            <div class="tile">
                    <div class="t-header">
                        <div class="th-title">Importaciones <small>Importaciones que se tienen registradas</small></div>
                    </div>

                    <table class="table table-bordered table-vmiddle">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric">Marca</th>
                                <th data-column-id="sender">Modelo</th>
                                <th data-column-id="received">Año</th>
                                <th data-column-id="commands">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for id_veh in veh  %}
                                    <tr>
                                        <td>{{ id_veh.vehiculo.MARCA }}</td>
                                        <td>{{ id_veh.vehiculo.MODELO }}</td>
                                        <td>{{ id_veh.vehiculo.ANO }}</td>
                                        <td> <a href="{{ request.route_url('vehiculo',id_imp=id_veh.ID_IMPORTACION, id_veh=id_veh.vehiculo.ID_VEHICULO) }}" class="btn btn-icon btn-success command-edit"><span style="margin-top: 10px" class="zmdi zmdi-upload" title="Subir Fotos"></span></a> </td>
                                    </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock content %}
{% block scripts %}
         <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid-override.min.js') }}"></script>

    <!-- Data Table -->
        <script type="text/javascript">
            $(document).ready(function(){
                //Basic Example
                $("#data-table").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less',
                        iconSearch: 'zmdi-search'
                    },
                });
            });
        </script>
{% endblock scripts %}
