{% extends "../layout.jinja2" %}

<!-- CSS -->
{% block styles %}
    <link href="{{ request.static_url('sinvel:static/css/wizard.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('sinvel:static/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ request.static_url('sinvel:static/css/bootstrap-datetimepicker.min.css') }}">
{% endblock styles %}

{% block content %}

    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation">
                    <a href="{{ request.route_url('bodegas') }}" data-toggle="tab" aria-controls="step1" role="tab"
                       title="Verificar Disponibilidad">
                            <span class="round-tab">
                                <i class="zmdi zmdi-search-for"></i>
                            </span>
                    </a>
                </li>

                <li role="presentation" class="active">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Ingresar Importación">
                            <span class="round-tab">
                                <i class="zmdi zmdi-boat"></i>
                            </span>
                    </a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Registrar Vehículos">
                            <span class="round-tab">
                                <i class="zmdi zmdi-car"></i>
                            </span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="col-12 col-lg-12 col-sm-9 " xmlns="http://www.w3.org/1999/html">
            <form class="form-horizontal" action="{{ request.route_url('registroImportacionGuardar') }}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Registrar importacion</h2>
                    </div>
                    </br>
                    </br>
                    <div class="panel">
                        <h3 class="panel-title">Datos de la importacion</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">No. importacion:</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control" name="NUM_REGISTRO" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Valor aduanero ($):</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control" name="VALOR_ADUANERO" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha:</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control form_datetime" name="FECHA_IMP" type="text"
                                               placeholder="dd-mm-yyyy" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Valor facturado ($):</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control" name="VALOR_FACTURADO" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Pais origen:</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control" name="PAIS_ORIGEN" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Peso (Kg):</label>
                                    <div class="form-group col-md-9">
                                        <input class="form-control" name="PESO" type="text" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <div class="panel">
                                <h3 class="panel-title">Datos del importador</h3>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">Importador:</label>
                                <div class="form-group col-md-8 ">
                                    <select name="ID_IMPORTADOR" class="form-control js-example-basic-single js-states"
                                            required>
                                        <option value="">Seleccione un importador</option>
                                        {% for aimportador in importadores %}
                                            <option value="{{ aimportador.ID_IMPORTADOR }}">{{ aimportador.NIT }}
                                                - {{ aimportador.NOMBRE }} {{ aimportador.APELLIDO }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <div class="col-md-6">
                                <label class="col-sm-2 control-label">Bodega:</label>
                                <div class="form-group col-md-8 ">
                                    <select name="ID_BODEGA" class="form-control js-example-basic-single js-states"
                                            required>
                                        <option value="">Seleccione una bodega</option>
                                        {% for bodega in bodegas %}
                                            <option value="{{ bodega.ID_BODEGA }}"> {{ bodega.NOMBRE_BODEGA }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% if grupo=='Administradores' %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        </br>
                        </br>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="form-control btn bg-lightblue" type="submit"
                                        style="float: right; margin-right: 50px; width: auto;">
                                    Continuar <i class="zmdi zmdi-arrow-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
{% block scripts %}

    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/moment.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.static_url('sinvel:static/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            // turn the element to select2 select style
            $(".js-example-basic-single").select2({
                placeholder: "Seleccione un importador",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".form_datetime").datetimepicker({format: 'DD-MM-YYYY'});
        });
    </script>
    <script src="{{ request.static_url('sinvel:static/js/wizard.js') }}"></script>

{% endblock scripts %}