{% extends "../layout.jinja2" %}
<!-- CSS -->
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('sinvel:static/css/select2.min.css') }}">
    <link href="{{request.static_url('sinvel:static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div class="container c-boxed">
        <div class="text-center">
            <h3 class="f-400 m-b-15">BODEGAS</h3>
        </div>
    <div class="tile">
                    <div class="t-header">
                        <div class="th-title">Registrar Nueva Bodega </div>
                    </div>
                <form class="form-horizontal" action="{{ request.route_url('registroBodegaGuardar') }}" method="post">
                    <div class="t-body tb-padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-local-store"></i></span>
                                    <input type="text" name="NOMBRE_BODEGA" class="form-control" placeholder="Nombre de Bodega">
                                </div>

                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                                    <input type="text" name="DIRECCION_BODEGA" class="form-control" placeholder="Dirección">
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="DESCRIPCION_BODEGA" class="form-control" placeholder="Descripción de la Bodega">
                                    <span class="input-group-addon last"><i class="zmdi zmdi-view-headline"></i></span>
                                </div>

                                <br/>

                                 <div class="input-group">
                                     <select name="ID_MUNICIPIO" class="selectpicker" data-live-search="true"
                                            required>
                                        {% for depto in departamentos %}
                                            <optgroup label="{{ depto.DEPARTAMENTO }}">
                                                {% for munpio in municipios %}
                                                    {% if munpio.ID_DEPARTAMENTO ==depto.ID_DEPARTAMENTO %}
                                                        <option value="{{ munpio.ID_MUNICIPIO }}" >{{ munpio.MUNICIPIO }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
{#                                    <span class="input-group-addon last"><i class="zmdi zmdi-my-location"></i></span>#}
                                </div>




                            </div>

                        </div>
                    <br/>
                    <div style="text-align: center">
                        <input  type="submit" style="width: 30%; height: 35px" class="btn bg-lightblue" value="Guardar Bodega">
                    </div>

                    </div>
                </form>
                    <br/>
                </div>

    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{request.static_url('sinvel:static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>

    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            // turn the element to select2 select style
            $(".Municipios").select2({
                placeholder: "Seleccione un municipio",
                allowClear: true
            });
        });
    </script>

{% endblock scripts %}