{% extends "../layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/css/wizard.css')}}" rel="stylesheet">
    <link href="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.override.min.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    {#    Inicio del Wizard #}
    <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Verificar Remolque">
                            <span class="round-tab">
                                <i class="zmdi zmdi-search-for"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Ingresar control salida">
                            <span class="round-tab">
                                <i class="zmdi zmdi-boat"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
{#    Fin del Wizard #}
    <div class="container">

        <div class="m-b-25">

        {% if remolques %}
         <div class="tile">
                    <div class="t-header">
                        <div class="th-title">Verificar disponibilidad remolques <small></small></div>
                    </div>

                          <table id="data-table" class="table table-hover table-bordered">
                            <thead>
                                <tr align="center">
                                    <th data-column-id="ID_REMOLQUE" data-type="numeric">Remolque</th>
                                    <th data-column-id="tipo_remolque.NOMBRE_TIPO" >Tipo</th>
                                    <th data-column-id="empleado.NOMBRE">Motorista</th>
                                    <th data-column-id="empleado.TEL_EMP" data-type="numeric">Celular</th>
                                    <th data-column-id="DISPONIBLE" >Disponible</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for remolque in remolques %}
                                 <tr>
                                        <td>{{remolque.NOMBRE_REMOLQUE }}</td>
                                        <td>{{remolque.tipo_remolque.NOMBRE_TIPO}}</td>
                                        <td>{{remolque.empleado.NOMBRE+" "+remolque.empleado.APELLIDO }}</td>
                                        <td>{{remolque.empleado.TEL_EMP}}</td>
                                        <td style="text-align: center">{% if remolque.DISPONIBLE==1 %}
                                            <button class="btn btn-xs bg-green"> SI</button>
                                            {% else %}
                                            NO
                                            {% endif %}
                                        </td>

                                 </tr>
                             {% endfor %}
                              </tbody>
                         </table>

            {% else %}
            No existen Remolques disponibles para mostrar
        {% endif %}
        </div>
        </div>

    </div>
    <a href="{{ request.route_url('registro_control') }}" class="btn bg-lightblue" style="float: right; margin-right: 50px"> Continuar <i class="zmdi zmdi-arrow-forward"></i></a>
{% endblock content %}
{% block scripts %}
         <script src="{{request.static_url('sinvel:static/js/wizard.js') }}"></script>
         <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid-override.min.js') }}"></script>

{% endblock scripts %}