{% extends "../layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.override.min.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div class="container">

            <div class="tile">
                    <div class="t-header">
                        <div class="th-title">Costos <small>Costos del ciclo de vida del auto registrados</small></div>
                    </div>

                    <table class="table table-bordered table-vmiddle">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric">Tipo Costo</th>
                                <th data-column-id="sender">Fecha</th>
                                <th data-column-id="received">Monto</th>
                                <th data-column-id="commands">Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                        {# for objeto in lista_enviada#}
                            {% for Costo1 in costos %}

                                           <tr>
                                        <td>{{ Costo1.tipo_costo.TIPO_COSTO}}</td>
                                        <td>{{ Costo1.FECHA_COSTO.strftime("%d/%m/%Y") }}</td>
                                        <td>{{ Costo1.MONTO }}</td>
                                        <td> <a href="{{  request.route_url('detalle_costo') }}" class="btn btn-icon ">DETALLE<span style="margin-top: 10px" class="zmdi zmdi-directions-car" title="Lista de Detalles"></span></a> </td>


                                       </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock content %}
{% block scripts %}
         <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid-override.min.js') }}"></script>

    <!-- Data Table -->
        <script type="text/javascript">
            $(document).ready(function(){
                //Basic Example
                $("#data-table").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less',
                        iconSearch: 'zmdi-search'
                    },
                });
            });
        </script>
{% endblock scripts %}
