{% extends "../layout.jinja2" %}

{% block content %}
    <div class="container c-boxed">
        <div class="text-center">
            <h3 class="f-400 m-b-15">BIENVENIDO</h3>
            <p>Esta es la pantalla de inicio de su sistema. Sin Contenido {{ user }}</p>
        </div>

    </div>
{% endblock content %}
