{% extends "../layout.jinja2" %}

{% block content %}
    <div class="container">
                <header class="page-header">
                    <h3>Headers <small>You can use the generic color classes to change tge appearance of the widget.</small></h3>
                </header>


                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-orange">
                                <div class="th-title">Orange</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-red">
                                <div class="th-title">Red</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-blue">
                                <div class="th-title">Blue</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-indigo">
                                <div class="th-title">Indigo</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-green">
                                <div class="th-title">Green</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-cyan">
                                <div class="th-title">Cyan</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-purple">
                                <div class="th-title">Purple</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-pink">
                                <div class="th-title">Pink</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-bluegray">
                                <div class="th-title">Blue Gray</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-gray">
                                <div class="th-title">Gray</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-brown">
                                <div class="th-title">Brown</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="tile">
                            <div class="t-header th-alt bg-black">
                                <div class="th-title">Black</div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="m-b-25">
                    <header class="page-header">
                        <h3>Solid Background Colors <small>Applying the color classes on the widget itself can get some solid backgrounds.</small></h3>
                    </header>

                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile bg-teal">
                                <div class="t-header th-alt">
                                    <div class="th-title">Teal</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile bg-red">
                                <div class="t-header th-alt">
                                    <div class="th-title">Red</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile">
                                <div class="t-header th-alt">
                                    <div class="th-title">White</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile bg-blue">
                                <div class="t-header th-alt">
                                    <div class="th-title">Blue</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile bg-green">
                                <div class="t-header th-alt">
                                    <div class="th-title">Green</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="tile bg-bluegray">
                                <div class="t-header th-alt">
                                    <div class="th-title">Blue Gray</div>
                                </div>
                                <div class="t-body tb-padding">
                                    <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="m-b-25">
                <header class="page-header">
                    <h3>With Header Action Dropdown <small>You can also add a menu in the widget header for extra actions.</small></h3>
                </header>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="tile">
                            <div class="t-header th-alt bg-green">
                                <div class="th-title">Pink</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tile">
                            <div class="t-header th-alt bg-orange">
                                <div class="th-title">Orange</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tile">
                            <div class="t-header th-alt bg-red">
                                <div class="th-title">Red</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tile bg-cyan">
                            <div class="t-header th-alt">
                                <div class="th-title">Red</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tile bg-blue">
                            <div class="t-header th-alt">
                                <div class="th-title">Red</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tile bg-lightgreen">
                            <div class="t-header th-alt">
                                <div class="th-title">Red</div>

                                <div class="actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="false"><i class="zmdi zmdi-more"></i></a>

                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="t-body tb-padding">
                                <p>Integer non pulvinar tellus, eget vulputate ex. Nam augue sapien, porttitor vel fermentum pellentesque, dictum vel mi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
{% endblock content %}
