{% extends "../layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/css/wizard.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}

        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Verificar Disponibilidad">
                            <span class="round-tab">
                                <i class="zmdi zmdi-search-for"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Ingresar Importación">
                            <span class="round-tab">
                                <i class="zmdi zmdi-boat"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Registrar Vehículos">
                            <span class="round-tab">
                                <i class="zmdi zmdi-car"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Subir Fotos y Ubicar">
                            <span class="round-tab">
                                <i class="zmdi zmdi-pin-drop"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Finalizar">
                            <span class="round-tab">
                                <i class="zmdi zmdi-check-circle-u"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

{% endblock content %}
{% block scripts %}
         <script src="{{request.static_url('sinvel:static/js/wizard.js') }}"></script>
{% endblock scripts %}
