{% extends "layout.jinja2" %}
{% block content %}
    {% from '_helpers.jinja2' import input,label %}
 <div class="col-12 col-lg-12 col-sm-9 ">
         <div class="panel panel-primary">
            <div class="panel-heading">
                 <h2 class="panel-title">Agregar Importador</h2>
            </div>
             </br>
             </br>
             <div class="panel">
                 <h3 class="panel-title">Datos Importador</h3>
            </div>
             </br>
            <div class="panel-body">
                <form class="form-horizontal" action="{{request.route_url('guardar_importador')}}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Linea de estilo:','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('LINEA_ESTILO', 'form-control', type='text') }}
                                </div>
                            </div>
                       </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Nombre_Im','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('NOMBRE_IM', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Apellido_Im','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('APELLIDO_IM', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Genero_Im','col-sm-2 control-label') }}
                           <div class="form-group col-md-10">
                                <select name="ID_GENERO" class="form-control ">
                                <option value="">Genero...</option>
                               {% for genero in  items_genero %}
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                {% endfor %}
                            </select>
                            </div>
                         </div>
                        </div>
                   </div>
                    </br>
                    </br>
                    <div class="col-md-6">
                                <div class="form-group">
                                    {{ label('Fecha_Nacimiento_Im','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('FECHA_NACIMIENTO_IM', 'form-control', type='text') }}
                                </div>
                                </div>
                     </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Responsable_Im','col-sm-2 control-label') }}
                             <div class="form-group col-md-10">
                                {{ input('RESPONSABLE_IM', 'form-control', type='text') }}
                             </div>
                             </div>
                         </div>

                       <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Apellido_Casada_Im','col-sm-2 control-label') }}
                              <div class="form-group col-md-10">
                                {{ input('APELLIDO_CASADA_IM', 'form-control', type='text') }}
                              </div>
                            </div>
                         </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Telefono_Casa_Im','col-sm-2 control-label') }}
                              <div class="form-group col-md-10">
                                {{ input('TELEFONO_CASA_IM', 'form-control', type='text') }}
                              </div>
                           </div>
                          </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Celular_Im','col-sm-2 control-label') }}
                             <div class="form-group col-md-10">
                                {{ input('CELULAR_IM', 'form-control', type='text') }}
                              </div>
                            </div>
                         </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('DUI_Im','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('DUI_IM', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                        {{ label('NIT_Im','col-sm-2 control-label') }}
                                    <div class="form-group col-md-10">
                                        {{ input('NIT_IM', 'form-control', type='text') }}
                                    </div>
                             </div>
                         </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Correo_Im','col-sm-2 control-label') }}
                              <div class="form-group col-md-10">
                                {{ input('CORREO_IM', 'form-control', type='text') }}
                               </div>
                            </div>
                         </div>

                    <div class="panel">
                        <h3 class="panel-title">Datos Autentificacion</h3>
                    </div>
                     <div class="col-md-8">
                            {{ label('Usuario_Im','col-sm-4 control-label') }}
                             <div class="form-group col-md-8 ">
                                {{ input('NIT_IM', 'form-control', type='text') }}
                            </div>
                    </div>
                      <div class="col-md-8">
                            {{ label('Correo_Im','col-sm-4 control-label') }}
                             <div class="form-group col-md-8 ">
                                 <input id="CORREO_IM" type="text" class="form-control"/>
                             </div>
                       </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                          <a id="verificar" class="btn btn-primary">VerificarUsuario</a>
                        </div>
                     </div>
                  </div>
                  <input id="Aimportador" type="hidden" name="ID_IMPORTACION" class="form-control" value=""/>
                 <div class="col-sm-2">
                        {{ input('submit','form-control btn btn-primary', type='submit',value='Agregar') }}
                 </div>
                </form>
            </div>
         </div>
 </div>

     <script src="{{request.static_url('sinvel:static/js/AgregarImportador/agregarimportador.js') }}"></script>

{% endblock content %}
