{% extends "layout.jinja2" %}

<!-- CSS -->
{% block styles %}
    <link href="{{ request.static_url('sinvel:static/css/wizard.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('sinvel:static/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ request.static_url('sinvel:static/css/bootstrap-datetimepicker.min.css') }}">
{% endblock styles %}


{% block content %}
    {% from '_helpers.jinja2' import input,label %}
 <div class="col-12 col-lg-12 col-sm-9 ">
         <div class="panel panel-primary">
            <div class="panel-heading">
                 <h2 class="panel-title">Agregar Remolque</h2>
            </div>
             </br>
             </br>
             <div class="panel">
                 <h3 class="panel-title">Datos Remolque</h3>
            </div>
             </br>
            <div class="panel-body">
                <form class="form-horizontal" action="{{request.route_url('guardar_remolque')}}" method="post">

                         <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('Tipo Remolque ','col-md-2 control-label') }}
                                <div class="form-group col-md-10">
                                <select name="ID_TIPO_REMOLQUE" class="form-control ">
                                <option value="">Seleccione un tipo Remolque</option>
                                    {% for t_remolque in tipo_remolque1 %}
                                 <option value="{{ t_remolque.ID_TIPO_REMOLQUE }}">{{  t_remolque.NOMBRE_TIPO}}</option>
                                    {% endfor %}

                            </select>
                            </div>
                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('Bodega ','col-md-2 control-label') }}
                                <div class="form-group col-md-10">
                                <select name="ID_BODEGA" class="form-control ">
                                <option value="">Seleccione una Bodega</option>
                                    {% for bodegas1 in bodega1 %}
                                 <option value="{{ bodegas1.ID_BODEGA }}">{{  bodegas1.NOMBRE_BODEGA}}</option>
                                    {% endfor %}

                            </select>
                            </div>
                            </div>
                        </div>

                           <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('Motorista ','col-md-2 control-label') }}
                                <div class="form-group col-md-10">
                                <select name="ID_EMPLEADO" class="form-control ">
                                <option value="">Seleccione un Empleado</option>
                                    {% for empleados1 in empleado1 %}
                                 <option value="{{ empleados1.ID_EMPLEADO }}">{{  empleados1.NOMBRE}}</option>
                                    {% endfor %}

                            </select>
                            </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Descripcion Remolque','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    <input name="DESCRIP_REMOLQUE" type="text" maxlength="30" class="form-control"  required>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Nombre Remolque','col-sm-2 control-label') }}
                             <div class="form-group col-md-10">
                                <input name="NOMBRE_REMOLQUE" type="text" maxlength="15" class="form-control"  required>

                             </div>
                             </div>
                         </div>





                   <input id="Aremolque" type="hidden" name="ID_REMOLQUE" class="form-control" value=""/>
                 <div class="col-sm-2">
                        {{ input('submit','form-control btn btn-primary', type='submit',value='Agregar') }}
                 </div>
                 <div class="col-sm-2">
                 <input  type="reset" class="form-control">
                </div>
                </form>

         </div>
         </div>



 </div>
 {% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/moment.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.static_url('sinvel:static/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $(".form_datetime").datetimepicker({format: 'YYYY-MM-DD'});
        });
    </script>
    <script src="{{ request.static_url('sinvel:static/js/wizard.js') }}"></script>

{% endblock scripts %}