{% extends "layout.jinja2" %}
{% block content %}
    {% from '_helpers.jinja2' import input,label %}
 <div class="col-12 col-lg-12 col-sm-9 ">
         <div class="panel panel-primary">
            <div class="panel-heading">
                 <h2 class="panel-title">Agregar Importador</h2>
            </div>
             </br>
             </br>
             <div class="panel">
                 <h3 class="panel-title">Datos Importador</h3>
            </div>
             </br>
            <div class="panel-body">
                <form class="form-horizontal" action="{{request.route_url('guardar_importador')}}" method="post">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Nombre','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('NOMBRE', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Apellido','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('APELLIDO', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Genero','col-sm-2 control-label') }}
                           <div class="form-group col-md-10">
                                <select name="GENERO" class="form-control ">
                                <option value=""> </option>
                                 <option value="M">Masculino</option>
                                  <option value="F">Femenino</option>

                            </select>
                            </div>
                         </div>
                        </div>


                    <div class="col-md-6">
                                <div class="form-group">
                                    {{ label('Fecha Nacimiento','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('FECHA_NACIMIENTO', 'form-control' ,type='text' )}}
                                </div>
                                </div>
                     </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Responsable','col-sm-2 control-label') }}
                             <div class="form-group col-md-10">
                                {{ input('RESPONSABLE', 'form-control', type='text') }}
                             </div>
                             </div>
                         </div>

                       <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Apellido Casada','col-sm-2 control-label') }}
                              <div class="form-group col-md-10">
                                {{ input('APELLIDO_CASADA', 'form-control', type='text') }}
                              </div>
                            </div>
                         </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Telefono Casa','col-sm-2 control-label') }}
                              <div class="form-group col-md-10">
                                {{ input('TELEFONO_CASA', 'form-control', type='text') }}
                              </div>
                           </div>
                          </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Celular','col-sm-2 control-label') }}
                             <div class="form-group col-md-10">
                                {{ input('TELEFONO_CELULAR', 'form-control', type='text') }}
                              </div>
                            </div>
                         </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('DUI','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('DUI', 'form-control', type='text') }}
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('Correo ','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('CORREO_IMPORTADOR', 'form-control', type='email' ) }}
                                </div>
                            </div>
                             <div class="form-group">
                            {{ label('NIT ','col-sm-2 control-label') }}
                             <div class="form-group col-md-10 ">
                                {{ input('NIT', 'form-control', type='password') }}
                            </div>
                          </div>
                        </div>

                        </br>


                        <div class="form-group">
                          <input id="Aimportador" type="hidden" name="ID_IMPORTACION" class="form-control" value="" />
                             <div class="col-sm-3">
                                    {{ input('submit','form-control btn btn-primary', type='submit',value='Agregar') }}

                                      <input  type="reset" class="form-control">
                              </div>
                         </div>







                </form>

         </div>
         </div>



 </div>


{% endblock content %}
