
<!DOCTYPE html>
<html>
<head>
<title>Sinvel</title>
<link href="{{ request.static_url('sinvel:static/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{ request.static_url('sinvel:static/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body>


	<!-- header-section-starts -->
	<div class="header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="#"><img src="../static/img/logo.png"> </a>
			</div>
				<div class="header-top-right">
				<!-- start search-->
					<a href="{{ request.route_path('login')  }}" class="btn btn-primary " style="height: 40px; width: 150px; font-size: 18px; margin-top: 10px;">Iniciar Sesión</a>
				</div>
			<div class="navigation">
			<div>


            <div class="clearfix"></div>
          </ul>
		</div>
	 </div>
			</div>
		</div>
		<div class="banner">
		<div class="signing text-right">
			<div class="container">
				<!--<div class="sign-in">-->
					<!--<a href="signin.html">Sign In</a>-->
				<!--</div>-->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="banner-info text-center">
				<i class="shipping"></i>
				<h3>Compra tu carro y camina sobre ruedas</h3>
				<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimcidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim</p>-->
				<!--<a href="products.html">All Products</a>-->
		</div>
	</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="products-section">
				<div class="products-section-head text-center">
					<h3><span>N</span>uestros <span>C</span>arros</h3>
					<p>“Vehículos en venta”</p>
				</div>
				<div class="products-section-grids">

					<div id="portfoliolist">


                    {% for venta in ventas %}
                        {% if venta.detalle_control_empresa.vehiculo.estado_veh.COD_ESTADO =='003' %}
                            <div class="portfolio app mix_all" data-cat="app"
                                 style="display: inline-block; opacity: 1;">
                                <div class="portfolio-wrapper">
                                    <a href="{{ request.route_url('detalleVehiculoCliente', id_veh=venta.detalle_control_empresa.vehiculo.ID_VEHICULO, id_ven=venta.ID_VENTA) }}" class="b-link-stripe b-animate-go  thickbox">
                                        <img src="{{ request.static_url('sinvel:static/fotos_vehiculos/Vehiculo'+venta.detalle_control_empresa.vehiculo.VIN+'.jpg') }}"
                                             class="img-responsive" alt=""/>
                                        <div class="b-wrapper">
                                            <div class="clearfix"></div>
                                            <h2 class="b-animate b-from-left    b-delay03 ">
                                                <img src="{{ request.static_url('sinvel:static/images/icon-eye.png') }}"
                                                     class="img-responsive go" alt=""/></h2>
                                        </div>
                                    </a>
                                    <div class="title">
                                        <div class="colors">
                                            <h4>{{ venta.detalle_control_empresa.vehiculo.modelo.marca.MARCA }}</h4>
                                            <p> {{ venta.detalle_control_empresa.vehiculo.modelo.MODELO}} -
                                                {{ venta.detalle_control_empresa.vehiculo.ANO}}

                                            </p>
                                        </div>
                                        <div class="main-price">
                                            <h3><span>$</span>{{ venta.detalle_control_empresa.vehiculo.PRECIO_VEHICULO }}</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

		</div>
	</div>
	</div>
<div class="clearfix"></div>					
				</div>
		  <div class="clearfix"></div>


			</div>

		</div>
		<div class="footer">
		<div class="up-arrow">
		</div>
			<div class="container">
				<div class="copyrights">
					<p>Copyright &copy; 2017 Todos los derechos reservados BAD-115</p>
				</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fb"></i></a>
					<a href="#"><i class="tw"></i></a>
					<a href="#"><i class="in"></i></a>
					<a href="#"><i class="pt"></i></a>
				</div>
				  <div class="clearfix"></div>
			</div>
		</div>
</body>
</html>