<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" lang="{{request.locale_name}}><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
        <meta name="description" content="SuperFlat Responsive Admin Template">
        <meta name="keywords" content="SuperFlat Admin, Admin, Template, Bootstrap">
        <link rel="shortcut icon" href="{{request.static_url('sinvel:static/pyramid-16x16.png')}}">

        <title>{% block title %} Título {% endblock title %}- Sinvel</title>

        <link href="{{request.static_url('sinvel:static/vendors/bower_components/animate.css/animate.min.css')}}" rel="stylesheet">
        <link href="{{request.static_url('sinvel:static/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')}}" rel="stylesheet">
        <link href="{{request.static_url('sinvel:static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')}}" rel="stylesheet">
        <!-- CSS -->
        {% block styles %}
        {% endblock styles %}
        <link href="{{request.static_url('sinvel:static/css/app.min.css')}}" rel="stylesheet">
    </head>

    <body>
            <header id="header" class="clearfix" data-spy="affix" data-offset-top="65">

            <ul class="header-inner">

                <!-- Logo -->
                <li class="logo">
                    <a href=""><img src="{{request.static_url('sinvel:static/img/logo.png')}}" alt=""></a>
                    <div id="menu-trigger"><i class="zmdi zmdi-menu"></i></div>
                </li>

                <!-- Messages -->
                {% include 'components/messages.jinja2' %}
                <!-- Notifications -->
                {% include 'components/notification.jinja2' %}
                <!-- Ongoing Projects -->
                {% include 'components/ongoing.jinja2' %}
                <!-- Events -->
                {% include 'components/events.jinja2' %}
                <!-- Search -->
{#                {% include 'components/search.jinja2' %}#}
                <!-- Settings -->
                {% include 'components/settings.jinja2' %}
                <!-- Quick Apps -->
                {% include 'components/quickapp.jinja2' %}
                <!-- Time -->
                {% include 'components/time.jinja2' %}
            </ul>
        </header>

        <aside id="sidebar">

            <!--| MAIN MENU |-->
            {% include 'components/menu.jinja2' %}

        </aside>

            <section id="content">

                <!-- Main content -->
                {% block content %}

                {% endblock content %}

            </section>

    {#    <footer id="footer">
            Copyright © 2017 BAD-115

            {% include 'components/menufooter.jinja2' %}
        </footer>#}

        <!-- Javascript Libraries -->
        <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{request.static_url('sinvel:static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{request.static_url('sinvel:static/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{request.static_url('sinvel:static/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
        <![endif]-->
        {% block scripts %}
        {% endblock scripts %}
        <script src="{{request.static_url('sinvel:static/js/functions.js') }}"></script>
{#        <script src="{{request.static_url('sinvel:static/js/demo.js') }}"></script>#}
    </body>
</html>