<!DOCTYPE html>
<html lang="{{request.locale_name}}">


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('sinvel:static/pyramid-16x16.png')}}">

    <title>SINVEL | Sistema de Inventario de Vehículos en Línea</title>

    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('sinvel:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="starter-template">
      <div class="container">
        <div class="row">
            <h1>Sistema de Inventario de Vehiculos en Linea</h1>
          <div class="col-md-12">
              <form action="{{request.route_url('ziggurat.routes.sign_in')}}" method="post">
                <!-- "came_from", "password" and "login" can all be overwritten -->
                <input type="hidden" value="/" name="came_from" id="came_from">
                <!-- in the example above we changed the value of "login" to "username" -->
                <input type="text" value="" name="login"/> <!-- change to name="username" if required -->
                <input type="password" value="" name="password">
                <input type="submit" value="Sign In" name="submit" id="submit">
            </form>
          </div>
        </div>

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
