{% extends "../templates/layout.jinja2" %}
{% block styles %}
     <link rel="stylesheet" type="text/css" href="{{ request.static_url('sinvel:static/css/select2.min.css') }}">
<link href="{{request.static_url('sinvel:static/css/wizard.css')}}" rel="stylesheet">
    <link href="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.override.min.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}

    <div class="container" >
      <div class="col-12 col-lg-12 col-sm-9 " xmlns="http://www.w3.org/1999/html">
        <form class="form-horizontal" action="{{ request.route_url('registro_entrada_control_guardar') }}" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Registrar entrada</h2>
                </div>
                </br>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                                <label class="col-sm-4 control-label">Remolque:</label>
                                <div class="form-group col-md-8 ">
                                    <select name="ID_REMOLQUE" class="form-control js-example-basic-single js-states"
                                            required>
                                        <option value="">Seleccione un remolque</option>
                                        {% for remolque in remolques %}
                                            <option value="{{ remolque.ID_REMOLQUE }}">{{ remolque.NOMBRE_REMOLQUE }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                    </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Descripción entrada:</label>
                                        <div class="form-group col-md-8">
                                            <textarea class="form-control" name="DESCRIPCION_CONTROL" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            {% if entradas %}
                                <div class="tile">
                                <div class="t-header">
                                    <div class="th-title">
                                        Vehiculos a ingresar
                                    </div>
                                </div>
                                <table id="data-table" class="table table-hover table-bordered">
                                    <thead>
                                    <tr align="center">
                                        <th></th>
                                        <th>Placa</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Año</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entrada in entradas %}
                                        <tr>
                                            <td><input type="checkbox" name="selected_vehiculos"
                                                       value="{{ entrada[0].ID_DET_CONTROL }}"></td>
                                            <td>{{ entrada[1].PLACA }}</td>
                                            <td>{{ entrada[1].modelo.marca.MARCA }}</td>
                                            <td>{{ entrada[1].modelo.MODELO }}</td>
                                            <td>{{ entrada[1].ANO }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                No existen entradas disponibles para mostrar
                            {% endif %}
                            </div>

                        <div class="row">
                            <div class="col-sm-12">


                                 <button class="form-control btn bg-lightblue" type="submit"
                                        style="float: right; margin-right: 50px; width: auto;">
                                    Guardar <i class="zmdi zmdi-save"></i>
                                </button>
                            </div>
                        </div>

                </div>

        </form>
    </div>
    </div>

{% endblock content %}
{% block scripts %}

    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/moment.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.static_url('sinvel:static/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            // turn the element to select2 select style
            $(".js-example-basic-single").select2({
                placeholder: "Seleccione un remolque",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".form_datetime").datetimepicker({format: 'DD-MM-YYYY'});
        });
    </script>
    <script src="{{ request.static_url('sinvel:static/js/wizard.js') }}"></script>

{% endblock scripts %}