{% extends "layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/css/wizard.css')}}" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{ request.static_url('sinvel:static/css/select2.min.css') }}">
{% endblock styles %}
{% block content %}
        {#    Inicio del Wizard #}
    <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="disabled">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Verificar Disponibilidad">
                            <span class="round-tab">
                                <i class="zmdi zmdi-search-for"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="{{ request.route_url('registroImportacion') }}" data-toggle="tab"  role="tab" title="Ingresar Importación">
                            <span class="round-tab">
                                <i class="zmdi zmdi-boat"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Registrar Vehículos">
                            <span class="round-tab">
                                <i class="zmdi zmdi-car"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Subir Fotos y Ubicar">
                            <span class="round-tab">
                                <i class="zmdi zmdi-pin-drop"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Finalizar">
                            <span class="round-tab">
                                <i class="zmdi zmdi-check-circle-u"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{#    Fin del Wizard #}
    {% from '_helpers.jinja2' import input,label %}
 <div class="col-12 col-lg-12 col-sm-9 ">
         <div class="panel panel-primary">
            <div class="panel-heading">
                 <h2 class="panel-title">Registrar Vehiculo</h2>
            </div>
             </br>
             </br>
             <div class="panel">
                 <h3 class="panel-title">Datos vehiculo</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="{{request.route_url('guardar_registro_vehiculo')}}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Linea de estilo:','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('LINEA_ESTILO', 'form-control', type='text',required='true') }}
                                </div>
                            </div>
                       </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                   
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Marca','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                         <select id="ID_MARCA" name="ID_MARCA" class="form-control js-example-basic-single js-states"
                                            required>
                                        <option value="Z">Seleccione una marca</option>
                                        {% for marca in items_marcas %}
                                            <option value="{{ marca.ID_MARCA }}">{{ marca.MARCA }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Modelo','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    <select id="ID_MODELO" name="ID_MODELO" class="form-control js-example-basic-single js-states"
                                            disabled="true">
                                        <option>Selecccione un modelo</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Chasis','col-sm-2 control-label') }}
                            <div class="form-group col-md-10">
                                {{ input('CHASIS', 'form-control', type='text',required='true') }}
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    {{ label('Año','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('ANO', 'form-control', type='number',required='true') }}
                                </div>
                             </div>
                          </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('No. motor','col-sm-2 control-label') }}
                            <div class="form-group col-md-10">
                                {{ input('NUM_MOTOR', 'form-control', type='text',required='true') }}
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('VIN','col-sm-2 control-label') }}
                            <div class="form-group col-md-10">
                                {{ input('VIN', 'form-control', type='text',required='true') }}
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Color','col-sm-2 control-label') }}
                            <div class="form-group col-md-10">
                                {{ input('COLOR', 'form-control', type='text',required='true') }}
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    {{ label('Clase','col-sm-2 control-label') }}
                                <div class="form-group col-md-10">
                                    {{ input('CLASE', 'form-control', type='text',required='true') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                       <div class="form-group">
                                        {{ label('Tipo combustible','col-sm-2 control-label') }}
                                    <div class="form-group col-md-10">

                                         <select name="TIPO_COMBUSTIBLE" class="form-control js-example-basic-single js-states"
                                            required>
                                        <option value="">Seleccione un tipo de combustible</option>

                                            <option value="Gasolina">Gasolina</option>
                                            <option value="Diesel">Diesel</option>
                                            <option value="Etanol">Etanol</option>
                                            <option value="Gas natural">Gas natural</option>
                                            <option value="Electricidad">Electricidad</option>
                                            <option value="Hidrogeno">Hidrogeno</option>
                                            <option value="GLP">GLP</option>
                                            <option value="Biodiesel">Biodiesel</option>
                                            <option value="Metanol">Metanol</option>
                                            <option value="P-Serie">P-Serie</option>

                                    </select>
                                    </div>
                                 </div>
                      </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                {{ label('Capacidad','col-sm-2 control-label') }}
                            <div class="form-group col-md-10">
                                {{ input('CAPACIDAD', 'form-control', type='text',required='true') }}
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6">
                       <div class="form-group">
                            {{ label('Cilindros','col-sm-2 control-label') }}
                        <div class="form-group col-md-10">
                            {{ input('CILINDROS', 'form-control', type='text',required='true') }}
                        </div>
                     </div>
                         </div>
                        <div class="col-md-6">
                       <div class="form-group">
                            {{ label('Poliza','col-sm-2 control-label') }}
                        <div class="form-group col-md-10">
                            {{ input('POLIZA', 'form-control', type='text',required='true') }}
                        </div>
                     </div>
                         </div>
                        <div class="col-md-6">
                   <div class="form-group">
                        {{ label('Precio','col-sm-2 control-label') }}
                    <div class="form-group col-md-10">
                        {{ input('PRECIO_VEHICULO', 'form-control', type='number',required='true') }}
                    </div>
                 </div>
                     </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ label('Estado','col-sm-2 control-label') }}
                           <div class="form-group col-md-10">
                                <select name="ID_ESTADO" class="form-control ">
                                <option value="">Seleccione...</option>
                               {% for estado in  items_estado_vehiculo %}
                                    <option value="{{estado.ID_ESTADO}}">{{estado.ESTADO}}</option>
                                {% endfor %}
                            </select>
                            </div>
                         </div>
                        </div>
                   </div>
                    </br>
                    </br>
                    <div class="panel">
                        <h3 class="panel-title">Datos importacion</h3>
                    </div>
                    <div class="col-md-8">
                            {{ label('Desperfecto','col-sm-4 control-label') }}
                             <div class="form-group col-md-8 ">
                                 <textarea name="DETALLE_DESPERFECTO" cols="10" rows="5" class="form-control"></textarea>

                            </div>
                    </div>
                    <div class="col-md-8">
                            {{ label('No. importacion','col-sm-4 control-label') }}
                             <div class="form-group col-md-8 ">
                                 <input id="id_importacion" type="text" class="form-control"/>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                          <a id="buscar" class="btn btn-primary">Buscar</a>
                        </div>
                    </div>
                      <div class="table">
                         <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr align="center">
                                    <th>No. importacion</th>
                                    <th>Importador</th>
                                    <th>Fecha importacion</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                        <td id="idimportacion"></td>
                                        <td id="importador"></td>
                                        <td id="fecha_importacion"></td>
                                        <td id="select"></td>
                                 </tr>
                              </tbody>
                         </table>
                    </div>
                  <input id="himportancion" type="hidden" name="ID_IMPORTACION" class="form-control" value=""/>
                 <div class="col-sm-2">
                        {{ input('submit','form-control btn btn-primary', type='submit',value='Guardar') }}

                 </div>
                      </br>
                        </br>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{request.route_url('list_importadores')}}" class="form-control btn bg-lightblue"  style="float: right; margin-right: 50px; width: auto;">
                                    Continuar <i class="zmdi zmdi-arrow-forward"></i>
                                </a>
                            </div>
                        </div>
                </form>
            </div>
           </div>
         </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
     <script src="{{request.static_url('sinvel:static/js/RegistroVehiculo/registrovehiculo.js') }}"></script>

{% endblock content %}
{% block scripts %}
     <script type="text/javascript" src="{{ request.static_url('sinvel:static/js/select2.min.js') }}"></script>

         <script src="{{request.static_url('sinvel:static/js/wizard.js') }}"></script>
     <script type="text/javascript">
        $(function () {
            // turn the element to select2 select style
            $(".js-example-basic-single").select2({
                placeholder: "Seleccione uno...",
                allowClear: true
            });
        });
    </script>


    <script type="text/javascript">

$(document).ready(

function() {

$("select#ID_MARCA").change(function() {

if ($(this).val() == 'Z') {

$("select#ID_MODELO").html("<option>Select a model</option>");
$("select#ID_MODELO").attr('disabled', true);
}
else {

var url = "/models/" + $(this).val() + "/all_json_models";
var brand = $(this).val();
$.getJSON(url, function(models) {
var options = '<option value="Z">Seleccione un modelo</option>';

var array=JSON.parse(models.json_models);
console.log(array);
for (var i = 0; i < array.length; i++) {

options += '<option value="' + array[i].ID_MODELO + '">' + array[i].MODELO + '</option>';
}
$("select#ID_MODELO").html(options);
$("select#ID_MODELO option:first").attr('selected', 'selected');
$("select#ID_MODELO").attr('disabled', false);
});
}
});


$("select#ID_MODELO").change(function(vent) {
if ($(this).val() == -1) {
return;
}
{#myAwesomeFunctionToCallWhenAModelIsSelected();#}
});
});


</script>
{% endblock scripts %}