{% extends "layout.jinja2" %}
{% block styles %}
<link href="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.override.min.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div class="container">

            <div class="tile">
                    <div class="t-header">
                        <div class="th-title">Vehículos <small>Todos los estados </small></div>
                    </div>

                    <table id="data-table" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th data-column-id="id" >PLACA</th>
                                <th data-column-id="name">MARCA</th>
                                <th data-column-id="sender">MODELO</th>
                                <th data-column-id="received">AÑO</th>
                                <th data-column-id="estado">ESTADO</th>
                                <th data-column-id="import">IMPORTADOR</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ubicado in ubicados %}
                            {% for vehiculo in vehiculos %}
                                {% if  ubicado.ID_VEHICULO == vehiculo.ID_VEHICULO %}
                                    {% if ubicado.ubicacion.nivel.bodega.ID_BODEGA == bodega.ID_BODEGA %}
                                        <tr>
                                            <td>{{ vehiculo.PLACA }}</td>
                                            <td>{{ vehiculo.modelo.marca.MARCA }}</td>
                                            <td>{{ vehiculo.modelo.MODELO }}</td>
                                            <td>{{ vehiculo.ANO }}</td>
                                            <td>{{ vehiculo.estado_veh.ESTADO }}</td>
                                            <td>{{ vehiculo.importacion.importador.NOMBRE }} {{ vehiculo.importacion.importador.APELLIDO }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
{% endblock content %}
{% block scripts %}
         <script src="{{request.static_url('sinvel:static/vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid-override.min.js') }}"></script>

    <!-- Data Table -->
        <script type="text/javascript">
            $(document).ready(function(){
                //Basic Example
                $("#data-table").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less',
                        iconSearch: 'zmdi-search'
                    },
                });

                //Selection
                $("#data-table-selection").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less',
                        iconSearch: 'zmdi-search'

                    },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    keepSelection: true
                });

            });
        </script>
{% endblock scripts %}
